
.about {
    background-color: #1abc9c;
    padding: 4rem;
}

.about__header {
    color: white;
    font-size: 3rem;
    position: relative;
    padding-bottom: 1rem;
}

.about__header::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 4px;
    background-color: white;
}

.about__header::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    height: 4px;
    background-color: #1abc9c;
    z-index: 5;
}

.about__text {
    color: white;
    font-size: 18px;
    margin-top: 2rem;
}

.skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.skill__header {
    color: white;
    font-size: 3rem;
    position: relative;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
}

.skill__header::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 4px;
    background-color: white;
}

.skill__header::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10%;
    height: 4px;
    background-color: #1abc9c;
    z-index: 5;
}

.skill__box {
    background-color: white;
    padding: 2rem;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.skill__box span {
    background-color: #1abc9c;
    color: white;
    padding: .5rem 1rem;
    margin: 1rem;
    border-radius: 4px;
}

@media screen and (max-width: 992px) {
    .skills {
        margin-top: 3rem;
    }

    .skill__box span {
        padding: .75rem 2rem;
    }
}